<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/write" method="POST" name="form">
    <table>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="name" value="{{session['name']}}" readonly></td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="contents" id="" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </form>
    </table>
    
</body>
</html>