<!-- edit.html -->
{% extends 'main.html' %}

{% block contents %}
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

<script>
$(document).ready(function() {
  $('#summernote').summernote({
        height: 300,
        minHeight: null,
        maxHeight: null,
        lang : 'ko-KR',
        popover: {
            image: [],
            link: [],
            air: []
        }
  });
});

function CheckEditForm() {
    if($.trim($("#title").val()) == "") {
        alert("제목을 입력하세요.");
        $("#title").focus();
        return false;
    }

    if($.trim($("#summernote").val()) == "") {
        alert("내용을 입력하세요.");
        $("#summernote").focus();
        return false;
    }

    return true;
}
</script>

<form name="form" method="POST" action="{{url_for('board.board_edit')}}" onsubmit="return CheckEditForm();">
    <input type="hidden" name="idx" value={{data._id}}>
    <div class="form-group">
        <label for="writer">작성자</label>
        <input type="text" class="form-control" id="name" name="name" disabled value={{session.get('name')}}>
    </div>
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요.." value="{{data.title}}">
    </div>
    <div class="form-group">
        <label for="contents">내용</label>
        <textarea class="form-control" rows="8" id="summernote" name="contents" placeholder="내용을 입력하세요..">{{data.contents}}</textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="수정하기">
</form>

{% endblock %}