{% extends "main.html" %}

{% block contents %}

<table>
    <form action="{{url_for('board.board_write')}}" method="POST" name="form">

        <tr>
            <td>작성자</td>
            <td><input type="text" name="name" value="{{session['name']}}" readonly></td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="contents" id="" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </form>
</table>

{% endblock %}