{% if datas.count() > 0 %}
<table>
    <thead>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>이름</td>
            <td>날짜</td>
            <td>조회수</td>
        </tr>
    </thead>

    <tbody>
        <!-- 반복되는 구간-->
        {% for data in datas %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="{{url_for('board_view', idx=data._id)}}">{{data.title}}</a></td>
            <td>{{data.name}}</td>
            <td>{{data.pubdate |formatdatetime}}</td>
            <td>{{data.view}}</td>
        </tr>
        {% endfor %}
        <!--반복되는 구간 끝-->
    </tbody>
</table>

{% if block_start - 1  > 0 %}
    <a href="{{url_for('lists', page=block_start -1 )}}">[이전]</a>
{% endif %}

{% for i in range(block_start, block_last + 1) %}
    {% if i > last_page_num %}
        {{ i }}
    {% else %}    
        {% if i == page %}
            <b>{{ i }}</b>
        {% else %}
            <a href="{{url_for('lists', page=i)}}">{{ i }}</a>
            <!--url_for의 lists함수의 page걊의i가현재 page값이 되기떄문에 그게 파라미터이기때문에 -->
        {% endif %}
    {% endif %}
{% endfor %}

{% if block_last < last_page_num %}
    <a href="{{url_for('lists', page=block_last +1)}}">[다음]</a>
{% endif%}

{% else %}
<h3>데이터가 없습니다</h3>
{% endif %}